<h3 class="swad-rajsi-heading">
  Taste Shahi </h3>
<div class="nav-toggle" style="display:flex;justify-content:center;gap:20px;padding-top: 0px;">
  <nav class="nav">
    <a class="{% if page.url == '/' %}swad-rajsi-nav-active{% else %}swad-rajsi-nav{% endif %}"
      href="{{ '/' | relative_url }}">HOME</a>
    <a class="{% if page.url contains '/about' %}swad-rajsi-nav-active{% else %}swad-rajsi-nav{% endif %}"
      href="{{ '/about/' | relative_url }}">ABOUT</a>
    <a class="{% if page.url contains '/recipes' %}swad-rajsi-nav-active{% else %}swad-rajsi-nav{% endif %}"
      href="{{ '/recipes/' | relative_url }}">RECIPES</a>
    <a class="{% if page.url contains '/contact' %}swad-rajsi-nav-active{% else %}swad-rajsi-nav{% endif %}"
      href="{{ '/contact/' | relative_url }}">CONTACT</a>
  </nav>
</div>