body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  text-decoration: none;
  padding: 10px;
}

.nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.recipe-img {
  max-width: 100%;
  margin-bottom: 20px;
}

.footer {
  background: #eee;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

.swad-rajsi-nav {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(21, 21, 21);
  font-weight: 400;
  padding-bottom: 4px;
  font-family: monospace;
  letter-spacing: 0.214em;
  cursor: pointer;
}

.swad-rajsi-nav-active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(21, 21, 21);
  font-weight: 400;
  padding-bottom: 4px;
  font-family: monospace;
  letter-spacing: 0.214em;
  cursor: pointer;
  border-bottom: 1px solid #eba0eb;
}