body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  text-decoration: none;
  padding: 10px;
}

.nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.recipe-img {
  max-width: 100%;
  margin-bottom: 20px;
}

.footer {
  background: #eee;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

.swad-rajsi-nav {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(21, 21, 21);
  font-weight: 400;
  padding-bottom: 4px;
  font-family: monospace;
  letter-spacing: 0.214em;
  cursor: pointer;
}

.swad-rajsi-nav-active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(21, 21, 21);
  font-weight: 400;
  padding-bottom: 4px;
  font-family: monospace;
  letter-spacing: 0.214em;
  cursor: pointer;
  border-bottom: 1px solid #eba0eb;
}

.swad-rajsi-heading {
  font-size: 90px;
  font-weight: 100;
  color: #eba0eb;
  font-family: 'Damion', serif;
  text-align: center;
  font-style: italic;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.swad-rajsi-read-now {
  font-size: 14px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 32px;
  padding-left: 32px;
  font-family: serif;
  transition: all 0.3s;
  letter-spacing: 0.214em;
}

.swad-rajsi-read-now:hover {
  font-size: 14px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 32px;
  padding-left: 32px;
  font-family: serif;
  transition: all 0.3s;
  letter-spacing: 0.214em;
  box-shadow: 0px 10px 10px -10px black;
}

.swad-rajsi-centre-display {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* style added, but overridden by something- not working
input:focus {
  border: 1px solid red !important;
  border-width: 10px;
} */

input::placeholder {
  font-family: arial;
  font-size: 16px;
  letter-spacing: normal;
}

.joining-mailing-list-success {
margin-top: 12px;
color: green;
}


.joining-mailing-list-error {
margin-top: 12px;
color: red;
}