<!DOCTYPE html>
<html>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-95Q2G5RF8X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-95Q2G5RF8X');
</script>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body style="background-color: #ffffff; color: #333; font-family: 'Arial', sans-serif;">
  {% include navigation.html %}

  <main style="margin-top:0px;margin-bottom: 0px;margin-left: 40px;margin-right: 40px; padding: 20px;">
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
